* {
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
    line-height: 1.6;
    /*background: repeating-linear-gradient(rgb(147, 147, 147),rgb(0, 0, 0)) no-repeat center center fixed; */
    background:  url('./images/game5.jpg') repeat center/cover fixed !important;
    overflow: auto;
    height: 100%;  
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: large;
}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 63px;
    background: rgba(0,0, 0,0.5)
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

section p a {
    text-transform: uppercase;
    color: white;     
}

.navbar ul li a:hover {
    color: rgb(146, 145, 145);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    scroll-snap-align: center;
}

#profileImg {
    height: 75px;
    width: 75x;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    object-position:50% 50%;  
}

button {
    display: block;
    border:1px solid whitesmoke; 
    background-color: black;
    height: 50px;
    width: 225px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: large;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(32, 32, 32);
}

.fa-check-circle {
    margin-left: 7px;
    color: rgb(0, 166, 255);
   
}


.icons {
 padding-top: 50px;
 margin: 0 auto;
 width: 50%;
 display: flex;
 justify-content: center;
 font-size: xx-large;
}

.fab {
    margin-right: 20px;
    color: white;
}

.fas {
    margin-right: 20px;
    color: white;
}

section h1 {
    font-size: 3rem;
}

section p {
    font-size: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
}


svg {

    padding-left: 12px;
    padding-top: 15px;
}

@media screen and (max-width:626px){
    ul.nav{display: none;}
   
   
  }

@media screen and (min-width:626px){
    .open-slide{display:none;}
    #gameVid{width:560px;}
    #gameVid{height:315px;}
   
  }


.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
.side-nav a:hover{
    color: blanchedalmond;
  }
  
.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
     
  }

  footer {
      color: #fff;
      text-align: center;
  }





